.DS_Store
data/*.json
data/*.geojson
data/skeleton-data/*

# Virtual environments and temporary data
.venv/
data/.venv/
data/one-time/
data/#*/

# Allow
!data/published.json
!data/stubs.json
!data/volunteering.json


.env
node_modules/
